.customers__h2 {
  margin-top: 94px;
}

.customers__icon {
  display: flex;
  text-align: center;
}

.customers__icon-rectangle {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  margin-bottom: 94px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customers__icon :hover,
.customers__icon:focus {
  border-color: #2196f3;
  cursor: pointer;
  transition: var(--transition);
}

.customers__icon--design {
  width: 106px;
  height: 60px;
  margin-top: 20px;
  color: #afb1b8;
}

.customers__icon--design:hover,
.customers__icon--design:focus {
  color: #2196f3;
  cursor: pointer;
  transition: var(--transition);
}
