.what-we-do {
  background: var(--text-header-color);

  display: flex;
  h2 {
    display: none;
  }
}
.rectangle {
  max-width: 450px;
  max-height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.what-we-do__images {
  display: none;
}
.what-we-do__h3 {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  text-align: center;
  margin-left: 15px;
  h3 {
    margin-top: 30px;
  }
}
p {
  margin-bottom: 50px;
  text-align: start;
  width: 100%;
  color: #757575;
}

.what-we-do__icons {
  background: #f5f4fa;
  margin-top: 25px;
  width: 65px;
  height: 70px;
  flex-direction: column;
}

@media screen and (min-width: $tablet-breakpoint) {
  .what-we-do {
    h2 {
      display: block;
    }
  }
  .what-we-do__images {
    display: flex;
    flex-direction: row;

    &--item {
      margin-left: 30px;
    }

    li {
      position: relative;
    }
    h3 {
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .what-we-do__h3 {
    display: flex;
    flex-direction: row;
    padding-top: 94px;

    &--item {
      margin-left: 30px;
      text-align: center;
    }
  }

  .rectangle {
    width: 270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
  .what-we-do__icons {
    display: flex;
    background: #f5f4fa;
    margin: 25px 102px;
    width: 70px;
    height: 70px;
    flex-direction: column;
  }
}

.what-we-do__images li .what-we-do__overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;
}
@media screen and (min-width: $desktop-breakpoint) {
  .what-we-do__h3 {
    display: flex;
    flex-direction: row;
    padding-top: 94px;

    &--item {
      margin-left: 30px;
    }
  }
}
